In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv("./data/EUR_USD.csv")

In [4]:
df.rename(columns={"price":"close"},inplace=True)

In [5]:
if "Vol." in df.columns:
    df.drop(columns=["Vol."],inplace=True)

In [7]:
df["Date"]=pd.to_datetime(df["Date"],dayfirst=True)

In [8]:
df = df.sort_values("Date").reset_index(drop=True)

In [9]:
df.head()

        Date   Price    Open    High     Low Change %
0 2001-01-22  0.9393  0.9342  0.9406  0.9270    0.61%
1 2001-01-22  0.9393  0.9342  0.9406  0.9270    0.61%
2 2001-01-23  0.9376  0.9392  0.9452  0.9370   -0.18%
3 2001-01-23  0.9376  0.9392  0.9452  0.9370   -0.18%
4 2001-01-24  0.9210  0.9374  0.9380  0.9213   -1.77%

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11284 entries, 0 to 11283
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11284 non-null  datetime64[ns]
 1   Price     11284 non-null  float64
 2   Open      11284 non-null  float64
 3   High      11284 non-null  float64
 4   Low       11284 non-null  float64
 5   Change %  11284 non-null  object
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 529.1+ KB